<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Astralis</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div style="padding: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin: 10px;">
                    <h1 class="display-4 text-center">Opss.. Wystąpił jakiś błąd..</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="margin: 5px 0px;"><strong>Jeśli ten błąd będzie się powtarzał prosimy o jak najszybszy kontakt z nami</strong>.&nbsp;</p>
                    <p style="margin: 0px;margin-bottom: 2px;">Możesz to zrobić na kilka sposobów, takich jak:<br></p>
                    <p style="margin: 0px;"><strong>Support mail:</strong> execstudiodev@gmail.com</p>
                    <p style="margin: 0px;"><strong>CEO&nbsp;mail:</strong> kontakt.lukaszwewski@gmail.com</p>
                    <p style="margin: 0px;"><strong>Twitter:</strong>&nbsp;https://twitter.com/Arwigiusz</p>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert"><span><strong><%=code%> </strong><%=info%><br></span>
                        <p><%=desc%><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-right"><img src="/img/logo-meghna.png" style="margin: 20px;"></div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>