<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Astralis</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .drzwi {
            background: rgba(72, 184, 24, 0.5);
            border: 1px solid rgb(72, 184, 24);
        }

        .drzwi:hover {
            background: rgb(72, 184, 24);
            border: 1px solid rgb(72, 184, 24);
        }

        body {
            background-image: url(img/interface/background.jpg);
        }

        .bg {
            background: rgba(255, 255, 255, 0.7);
        }
    </style>
</head>

<body style="overflow-x:hidden;">
    <nav class="navbar navbar-light navbar-expand-md bg">
        <div class="container-fluid"><a class="navbar-brand" href="#">Astralis RPG</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/game">Gra</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Forum</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Wyloguj się</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col left-panel bg" style="padding: 0px 0px; padding-right: 5px; padding-top: 5px; height: 533.2px;">
            <h1 class="text-center" style="font-size: 30px;margin: 0px;padding-bottom: 10px;color: rgb(23,125,7);">Lokacje</h1>
            <div class="buttoncnt">
            <a href="/przenies/miasto"><button class="btn btn-primary menu-button" type="button" style="background-color: rgb(23,125,7);font-size: 18px;">Miasto</button></a>
            <a href="/przenies/las"><button class="btn btn-primary menu-button" type="button" style="background-color: rgb(23,125,7);font-size: 18px;">Las</button></a>
            <a href="/przenies/wybrzeze"><button class="btn btn-primary menu-button" type="button" style="background-color: rgb(23,125,7);font-size: 18px;">Wybrzeże</button></a>
            <a href="/przenies/jaskinie"><button class="btn btn-primary menu-button" type="button" style="background-color: rgb(23,125,7);font-size: 18px;">Jaskinie</button></a>
            </div>
        </div>
        <div class="col game-window" style="width: 1200px; padding: 0px 0px;">
            <input type="hidden" value="<%=user.pos%>" id="pos" name="pos">
        </div>
        <div class="col bg" style="padding: 5px;width: 100%;margin-right: 15px; height: 533.2px;">
            <h1 class="text-center text-success" style="font-size: 30px;margin: 0px;color: rgb(23,125,7);"><%=user.nickname%></h1>
            <p class="text-center" style="font-size: 16px;"><%=user.level%> LVL</p>
            <hr style="margin: 2px 4px;padding: 0px;;">
            <span class="badge badge-primary text-center" style="width: 100%;height: 22px;background-color: rgb(180,22,12);font-size: 14px;margin-left: 3px;margin-right: 3px;"><%=user.pz%>/<%=user.maxpz%> HP</span>
            <span class="badge badge-primary text-center" style="width: 100%;height: 22px;background-color: rgb(12,120,180);font-size: 14px;margin-left: 3px;margin-right: 3px;"><%=user.sp%>/<%=user.maxsp%> SP</span>
            <span class="badge badge-primary text-center" style="width: 100%;height: 22px;background-color: rgb(207,179,31);font-size: 14px;margin-left: 3px;margin-right: 3px;"><%=user.balance%> $</span>
            <span class="badge badge-primary text-center" style="width: 100%;height: 22px;background-color: rgb(126,180,12);font-size: 14px;margin-left: 3px;margin-right: 3px;"><%=user.exp%>/<%=user.maxexp%> EXP</span>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/generator.js"></script>
    <script>
        initLoc();
    </script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>