<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Astralis</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="login-card"><img class="profile-img-card" src="/img/avatar_2x.png">
        <p class="profile-name-card"> </p>
        <form method="POST" action="/" class="form-signin"><span class="reauth-email"> </span><input class="form-control" type="text" id="inputEmail" required="" placeholder="Login" autofocus="" name="login"><input class="form-control" type="password" id="inputPassword" required="" placeholder="Password" name="password">
            <div class="checkbox">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Remember me</label></div>
            </div><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button></form><a class="forgot-password" href="#">Forgot your password?</a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>