.left-panel {
  width: 100px !IMPORTANT;
}
.buttoncnt {
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  width: 240px;
  /*margin-right: 20px;*/
  margin-bottom: 1px;
  margin-left: 8%;
}

